@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@900&family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-selection: 20px;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text-color);
}
a{
    text-decoration:none;
    display: inline-block;
}

ul{
    list-style: none;
    flex-wrap: wrap;
}

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-selection);
    overflow: hidden;
}
.top-banner{
    background-color: #4fb3d4;
    background-image: url("assets/asset\ 30.png");
    background-size: 300px;
    /*background-repeat: no-repeat;*/
    height: 50px;
}

.banner-text{
    text-align: center;
    padding: 10px 0;
    color: aliceblue;
}



.flex{ /* for reusability*/
    display: flex;
    align-items: center;
    
}

.company-logo img{
    width: 200px;
} 

.main-nav{
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.nav-links{
    flex-basis: 720px;
}

.nav-links ul{
    justify-content: end;
    gap: 30px;
}
.nav-togle{
    display: none;
}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out ;
}
.hover-link:hover{
    color:var(--accent-color);
}

.primary-btn{
    background: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    transition: 0.2s ease-out;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    text-align: center;
}
.primary-btn:hover{
    background-color: var(--accent-color-dark);
}

.secondary-btn{
    background: none;
    border-radius : 6px;
    font-weight: 500;
    transition: 0.2s ease-out;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
}
.secondary-btn:hover{
    color: var(--accent-color);
}
.header-section{
    padding: 50px var(--padding-inline-selection);
}
.header-right img{
    width: 100%;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}
.hero-btn{
    margin-top: 20px;
}

/*companies header*/
.companies-header{
    text-align: center;
    margin: 30px;
    color: var(--primary-text-color);
}
.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.logo{
    height: 46px;
}

/*Features section*/
.features-section{
    padding: 80px var(--padding-inline-selection) 0;
    background-image: url(https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5af9951ea9b84ec337b92251_Oval2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-header{
    text-align: center;
}

.feature-header h2{
    margin-bottom: 20px;
}

.features-area{
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}

.features-card {
    flex-direction: column;
    gap: 40px;
    max-width: 30%;
    text-align: center;
}
.features-card img{
    width: 60px;
}

/*Big-Features section*/
.big-feature-section{
    padding: 40px var(--padding-inline-selection) 0;
}
.big-feature-container{
    gap: 40px;
}
.even-bfs{
    flex-direction: row-reverse;
}
.big-feature-img img{
    width: 100%;
}
.big-feature-desc{
    flex-direction: column;
    align-items: flex-start;
}

/*Examples section*/
.examples-section{
    padding: 80px var(--padding-inline-selection);
}
.examples-header{
    flex-direction: column;
    gap: 20px;
}
.examples-area{
    margin-block: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.example-card{
    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 33.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
    border-radius: 2px;
}
.example-card:hover{
    box-shadow: 0 0 20px #888;
}
.example-card:nth-child(2){
    background-image:linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 34.jpeg);
}
.example-card:nth-child(3){
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 35.jpeg);
}
.example-card:nth-child(4){
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 36.jpeg);
}
.exp-card-text{
    color: white;
    position: absolute;
    bottom: 20px;
    left: auto;
    right: auto;
}

/*CTA section*/
.cta-section{
    background: #183b56;
    padding: 120px var(--padding-inline-selection);
}
.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
}
.cta-section-container p{
    color: white;
    margin-top: 20px;
}

/*footer section*/
footer{
background-color: #ebf2fa;
padding-block: 80px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
.footer-container img{
    width: 160px;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

/*Sub footer section*/
.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-selection);
}

.subfooter-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


