/*Media Query's*/
@media screen and (max-width:991px){
    .splash{
        height: 80vh;
    }
    .splash-cta{
        padding-block: 120px 80px;
    }
    .background img{
        width: 100%;
        height: 100vh;
    }

    section{
        grid-template-columns: none;
        grid-template-rows: 0.5fr 1fr;
        padding: 40px;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    section .animation.a1 video{
        left: calc(50% - 180px);
    }
    section .animation.a3 video{
        left: calc(50% - 135px);
    }
    .container:nth-child(even) .texts{
        order: 0;
    }

    footer{
        align-items: center;
        text-align: center;
    }
}


@media screen and (max-width:767px){
    body{
        font-size: 16px;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.3rem;
    }
    .splash-cta h1{
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .splash-cta h3{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .splash-cta p{
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
    img{
        width: auto;
    }
    .background img{
        content: url(https://assets.nflxext.com/ffe/siteui/vlv3/ac9aedf1-a687-4c5d-965c-2fc3eac84aea/ed2f162a-b9ef-43fd-8042-84978039a3ba/IN-en-20221206-popsignuptwoweeks-perspective_alpha_website_small.jpg);
        border: 0;
        max-width: 100%;
        opacity: 1;
    }
    .background{
    }
    .splash-cta{
        padding: 150px 45px 100px 45px;
    }

    .site-footer{
        padding-inline: 20px;
    }

    
    .logo img{
        width: 100px;
        height: 80px;
        margin: -16px;
    }
    .splash-cta-form{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .splash-cta-form input[type="email"]{
        margin-block: 20px;
        width: 100%;
        height: 50px;
        margin-inline: auto;
        border-right: 1px solid var(--primary2-color);
    }
    .splash-cta-form button{
        width: 150px;
        height: 50px;
        border-radius: 100px;
        margin-inline: auto;
        font-size: 1rem;
    }

    .site-footer{
        gap: 50px;
    }
    .site-footer ul{
        display: flex;
        list-style: none;
        flex-direction: column;
        align-items: center;
        grid: auto / auto auto auto auto;
        gap: 15px;
    
    }
    .texts{
        padding-inline: 10px;
    }

    .faq-form input[type="email"]{
        max-width: 80%;
        margin-inline: auto;
    
}


@media screen and (max-width:479px){
    .splash-cta h1{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .splash-cta h3{
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    .splash-cta p{
        font-size: 1rem;
        margin-bottom: 15px;
    }
    header .h-buttons a{
        width: 80px;
        padding: 7px 17px;
        text-decoration: none;
        font-size: small;
    }
    .faq-form input[type="email"]{
        max-width: 100%;
    }
    h1{
        font-size: 2rem;
    }
    section .texts p{
        font-size: 1rem;
    }
    section{
        display: flex;
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
    }
    .answer{
        font-size: 16px;
    }
    .question label{
        font-size: 1.2rem;
    }
    .logo img{
        margin-top: -14px;
    }
}