@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-padding:20px;
    --secondary-padding:12px;
    --primary1-color:#000000;
    --primary2-color: #303030;
    --primary3-color:#333333;
    --primary4-color:#555555;
    --secondary1-color:#ffffff;
    --secondary2-color: #f3f3f3;
    --secondary3-color:#f4f4f4;
    --secondary4-color:#f8f8f8;
    --btn-back-color:#e50914;
    --footer-text-color:#737373;

}

body{
    font-family: 'Open Sans','Roboto','Ubuntu', sans-serif;
    background: var(--primary1-color);
    color: var(--secondary2-color);
}
.flex{
    display: flex;
    align-items: center;
}
img{
    width: 100%;
}
h1{
    font-size: 3.1rem;
}
h2{
    font-size: 2.2rem;
}
h3{
    font-size: 1.7rem;
}
h4{
    font-size: 1.5rem;
}

/*header*/

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 40px;
    position: absolute;
    z-index: 5;
    width: 100%;
    overflow: hidden;
}
.logo img{
    width: 200px;
    height: 80px;
}
.logo a{
    display: block;
}
header .h-buttons{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}
header .h-buttons a{
    height: 35px;
    background: var(--btn-back-color);
    color: var(--secondary1-color);
    border-radius: 3px;
    padding: 7px 17px;
    text-decoration: none;
    font-size: medium;
}
.h-select select{
    height: 35px;
    background: var(--primary1-color);
    color: var(--secondary1-color);
    padding: 6px 0 6px 20px;
    border-radius: 3px;
}
.h-select svg{
    height: 20px;
    fill: var(--secondary1-color);
    position: absolute;
    margin-top: 7.5px;
    margin-left: 2.2px;
}

/*splash and CTA*/
.splash{
    position: relative;
}
.background img{
    opacity: 0.6;
    width: 100%;
    max-height: 80vh;
}

.gradieant{
    background-image: linear-gradient(to top, rgba(0,0,0,.8) 0, rgba(0,0,0,.0) 60%, rgba(0,0,0,0) 60%, rgba(0,0,0,.8) 100%);
    position: absolute;
    inset: 0;
}
.splash-cta{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 850px;
    margin-inline: auto;
    padding-block: 74px;
}

.splash-cta h1{
    font-size: 4rem;
    margin-bottom: 20px;
}
.splash-cta h3{
    font-size: 1.7rem;
    margin-bottom: 30px;
}
.splash-cta p{
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.splash-cta-form{
    display: flex;
    gap: 0;
    justify-content: flex-start;
}
.splash-cta-form input[type="email"]{
    width: 550px;
    height: 70px;
    margin-left: 60px;
    font-size: large;
    border-collapse: collapse;
    border-style: none;
    border-right: 2px solid var(--primary2-color);
}
.splash-cta-form button{
    width: 250px;
    height: 70px;
    margin-right: 60px;
    font-size: 1.8rem;
    border-radius: 2px;
    border-style: none;
    background: var(--btn-back-color);
    color: var(--secondary2-color);   
}

/*texts and animation section*/
.container{
    border-top: 8px solid var(--primary3-color);
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px 35px;
    align-items: center;
    justify-content: center;
    max-width: 1180px;
    margin-inline: auto;

}
section .texts{
    width: 100%;
    
}
section .texts h1{
    margin-bottom: 8px;
}
section .texts p{
    font-size: 1.625rem;
}

section .animation{
    position: relative;
}
section .animation img{
    width: 500px;
}

section .animation.a1 video{
    width: 358px;
    position: absolute;
    top: 80px;
    left: 68px;
}
section .animation.a3 video{
    width: 300px;
    position: absolute;
    top: 40px;
    left: 97px;
    z-index: -1;
}
.container:nth-child(even) .texts{
    order: 2;
}

section .download{
    border: 2px solid var(--primary4-color);
    border-radius: 15px;
    height: 95px;
    padding: 10px;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -170px;
    bottom: 40px;
    background: var(--primary1-color);
}
section .download img{
    width: auto;
    height: 80px;
}
section .download h4{
    font-size: 1rem;
}
section .download span{
    color: #0071eb;
}



/*FAQ - Section*/
.faq{
    padding: 70px 35px;
}
.faq h1{
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 0 0 5px solid var(--primary2-color);
}
.questions{
    max-width: 820px;
    margin: 0 auto;
    font-size: 1.625rem;
}
.question{
    position: relative;
    background: var(--primary3-color);
    margin-bottom: 10px;
}
.question .header svg{
    width: 40px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.question .header{
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid var(--primary1-color);
    cursor: pointer;
}
.answer{
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}
.question input[type="checkbox"]:checked ~ .answer{
    padding: 30px;
    max-height: 600px;
}
.question input[type="checkbox"]{
    display: none;
}
.question input[type="checkbox"]:checked ~ .header svg{
    transform: rotate(45deg);
}
.faq-cta-p{
    text-align: center;
    margin-block: 80px 20px;
}
.faq-form{
    margin-inline: auto;
    align-items: center;
    justify-content: center;
}
.faq-form input[type="email"]{
    width: 450px;
    height: 55px;
}
.faq-form button{
    width: 200px;
    height: 55px;
    font-size: 1.5rem;
}
/*Site footer*/
.site-footer{
    max-width: 900px;
    margin-inline: auto;
    margin-block: 60px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--footer-text-color);
}
.footer-top-text a{
    color: var(--footer-text-color);
    text-decoration: none;
}
.footer-top-text a:hover{
    text-decoration: underline;
}
.footer-bottom-text{
    font-size: small;
}


.footer-link{
    color: var(--footer-text-color);
    text-decoration: none;
    font-size: small;
}
.footer-link:hover{
    text-decoration: underline;
}

.site-footer ul{
    display: grid;
    list-style: none;
    align-items: center;
    grid: auto / auto auto auto auto;
    gap: 12px;

}
.footer-btn svg{
    width: 30px;
    position:absolute;
    z-index: 5;
    margin-left: 20px;
    margin-top: 11px;
}
.footer-btn select{
    font-size: larger;
    padding: 14px 10px 14px 60px;
    color: var(--footer-text-color);
    background: var(--primary1-color);
    position: relative;
}

